* {
    background-color: aliceblue;
    font-family: sans-serif, Arial, Helvetica;
}

h1 {
    text-align: center;
    font-size: 100px;
}

.link.lasagna {
    text-align: center;
    display: block;
    font-size: 30px;
}